// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
body {
    font-family: 'Montserrat', sans-serif;
    background-color: $cream;
}

#page {
    background-color: $cream;   
}

h1, h2, h3, h4 {
    color: $primary;
    font-weight: 700;
}

p {
    font-weight: 500;
}

.entry-title, h1 {
    font-size: 3em;   
}

header {
    padding-top: 50px;
}

#main-menu {
    background-color: $cream;
}

#main-menu a {
    font-size: clamp(2rem, 4vw + 1rem, 2rem);
    font-weight: 800;
    color: $primary;
    margin-left: 2.5vw;
}

.d-lion-logo {
    max-width: 70px;
    position: absolute;
    top: 10px;
    left: 80px;
}

#logo-row {
    padding: 0;
    margin-bottom: 100px;
}

#logo-col {
    position: relative;
    padding: 0 60px;
}

.rbd-statement {
    color: #fff;
    padding: 15px;
    margin-left: 5vw;
    margin-top: 10vw;
    font-size: 2vw;
    font-weight: 600;
    line-height: 1.1em;
    background-color: $primary;
    position: absolute;
    right: 100px;
    top: 0;
    width: 390px;
}


.purple-row {
    background-color: $purple;
    color: $cream;
    padding: 100px 3vw;
}

.cream-row {
    background-color: $cream;
    color: $primary;
    padding: 100px 3vw;
}

.purple-row h1, .purple-row h2 {
    color: $cream;
}

.projects {
    background-image: url(../imgs/projects.svg);
    background-position: 90% center;
    background-size: 420px 420px;
    background-repeat: no-repeat;
}

.home-trio .circle__content a {
    font-size: clamp(3.5rem, 5vw + 1rem, 3rem);
}

.home-project .project-link  {
    font-size: clamp(2rem, 4vw + 1rem, 2rem);
    color: $cream;
    font-weight: 600;
    text-decoration: none;
    display: block;
    line-height: 1.2;
    margin: 20px 0 20px 40px;
}

.see-more a{
    font-size: 2rem;
    font-weight: 600;
    margin: 50px 0;
    text-decoration: none;
    display: block;
}

.see-more.blue, .see-more.blue svg {
    color: $primary;
    stroke: $primary;
}

.see-more.orange, .see-more.orange svg {
    color: $orange;
    stroke: $orange;
}

.see-more svg {
    width: 200px;
    transition: all .3s ease;
}

.see-more:hover svg{
    margin-left: 10px;
}

.see-more.orange:hover svg {
    stroke: $primary;
}

.see-more.blue:hover svg {
    stroke: $orange;
}

.news-link {
    text-decoration: none;
}

.home-article {
    margin: 20px 0 40px 100px;
    font-size: 1.5rem;
}

.news-author {
    font-size: 1.4rem;
    font-weight: 600;
    color: $purple;
}

//projects page
.all-projects {
    padding: 30px;
}

.all-projects .circle__content {
    padding: 3em;
}

//news page
.all-news-row {
    margin: 50px 3vw;
}

//story

.story {
    padding: 0 3vw 50px 3vw;
    color: $primary;
}

.story p, .vision p, .what-we-do p {
    margin: 0 100px;
    font-size: 1.4rem;
}


/**
 * Circle Styles
 */

 .circle {
    position: relative;
    display: block;
    margin: 2em 0;
    background-color: transparent;
    text-align: center;
  }
  
  .circle:after {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #ddd;
    content: "";
  }
  
  .circle__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .circle__wrapper {
    display: table;
    width: 100%;
    height: 100%;
  }
  
  .circle__content {
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
  }
  
  .circle__content a{
    font-size: clamp(2.5rem, 4vw + 1rem, 2rem);
      font-weight: 700;
      text-decoration: none;
      transition: all .3s ease;
  }

  .circle__content a:after{
    content: '';
    background-image: url(../imgs/arrow-orange.svg);
    width: 100%;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    opacity: 0;
    transition: all .3s ease;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    margin-left: -15px;
}

.circle__content a:hover:after{
    opacity: 1;
    margin-left: 0;
}

  #wrapper-footer {
      background-color: $cream;
      padding: 80px 30px;
  }

  //Projects page 
.all-projects-row, .all-news-row, .all-partners-row   {
    padding: 30px 60px;
}

.all-projects-row  .circle:after, .all-news-row  .circle:after   {
    background-color: $primary;
}

.all-projects-row .circle__content a, .all-news-row .circle__content a{
    line-height: 1.1em;
    font-size: clamp(1.75rem, 3vw + 1rem, 2rem);
    color: $cream;
}

//all partners page 

.all-partners-row  .circle:after {
    background-color: #fff;
}

.all-partners-row .circle__content a{
    line-height: 1.1em;
    font-size: clamp(1.75rem, 3vw + 1rem, 2rem);
    color: $primary;
}
 

//single projects
.container-fluid .entry-title {
    margin: 0 30px 50px 3vw;

}

.project-thumb {
    margin: 0 0 70px 3vw;
}

.project-summary {
    margin: 0 3vw;
    font-size: 1.4rem;
}

//expander stuff
.btn-expand {
    display: inline;
    text-align: left;
    font-size: 3vw;
    font-weight: 700;
}

.btn-expand:before {
    content: '-';
}

.btn-expand.collapsed:before {
    content: '+';
}

.cream-row .btn-expand {
    color: $primary;
}

.purple-row .btn-expand {
    color: $cream;
}

//carousel 
#methods-carousel{
    margin: 40px -20px;
}

.carousel-inner {
    width: 80%;
    margin: auto;
}

.method {
    margin: 0 10px;
    padding: 40px 20px;
    border-radius: 0;
    height: 100%;
    text-overflow: ellipsis;
    max-height: 500px;
    background-color: $cream;
}

.method h2 {
    color: $primary;
    font-size: 1.5rem;
    height: 3rem;
    margin-bottom: 25px;
}

.method-content {
    color: $primary;   
    overflow: hidden;
    height: 300px;
}

.method-button {
    display: block;
    margin: 40px auto;
}

.carousel-control-next, .carousel-control-prev {
    opacity: 1;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 7rem;
    opacity: 1;
}

.carousel-control-next-icon {
    background-image: url(../imgs/arrow-short.svg);
}

.carousel-control-prev-icon {
    background-image: url(../imgs/arrow-short.svg);
    transform: rotate(180deg);
}



//footer
.credit-box {
    padding-left: 40px;
}

.search-field {
    background-color: $primary;
    color: #fff;
    padding: 15px;
    border-radius: 0;
}

.search-field::placeholder {
    background-color: $primary;
    color: #fff;
}

.submit {
    color: $primary;
    background-color: #fff;
    border: 0;
}

.lands {
    font-size: 1.2em;
    color: $primary;
    margin: 30px 0;
    font-weight: 500;;
}

.credit {
    display: flex;
    margin-top: 50px;
}

.footer-rr {
    width:33%;
}

.footer-rbd {
    width: 67%;
}

.ginput_container input, .ginput_container textarea {
    background-color: $primary;
    color: #fff;
    border: none;
    padding: 15px !important;
}

.ginput_container input::placeholder, .ginput_container textarea::placeholder {
    background-color: $primary;
    color: #fff;
}

#input_1_2{
    height: 130px;
}


.social {
    display: flex;
}

.social .circle {
    width: 90px;
    margin-right: 20px;
}

.social .circle:after {
    background-color: $orange;
}

.twitter {
    background-image: url(../imgs/twitter.svg);
    background-position: center center;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.linkedin {
    background-image: url(../imgs/linkedin.svg);
    background-position: center center;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.facebook {
    background-image: url(../imgs/facebook.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $cream;
}



@media (max-width: 767px) {
    .projects{
        background-image: none;
    }

    .home-article {
        margin-left: 0;
    }

    .rbd-statement {
        padding: 15px;
        margin-left: auto;
        margin-top: 10vw;
        font-size: 5vw;
        font-weight: 600;
        line-height: 1.1em;
        background-color: #154260;
        position: static;
        width: 100%;
    }
    .project-thumb{
        margin: 30px auto;
    }

    .btn-expand {
        font-size: 10vw;
    }

    .all-projects-row{
        padding: 0;
    }

    .all-projects {
    padding: 15px;
    }

    .all-projects .circle__content {
        padding: 1.5em;
    }

    .story p{
        margin: 0 10px 0 0;
    }

}


//stupid carousel stuff
@media (max-width: 767px) {

    .d-lion-logo {
        display: none;
    }
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

