// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
body {
    font-family: 'Montserrat', sans-serif;
}

#page {
    background-color: $cream;   
}

h1, h2, h3, h4 {
    color: $primary;
    font-weight: 700;
}

.entry-title, h1 {
    font-size: 3em;   
}

header {
    padding-top: 50px;
}

#main-menu {
    background-color: $cream;
}

#main-menu a {
    font-size: 2.5vw;
    font-weight: 800;
    color: $primary;
    margin-left: 2.5vw;
}

.d-lion-logo {
    max-width: 70px;
}

.purple-row {
    background-color: $purple;
    color: $cream;
    padding: 100px 8vw;
}

.cream-row {
    background-color: $cream;
    color: $primary;
    padding: 100px 8vw;
}

.purple-row h1, .purple-row h2 {
    color: $cream;
}

.projects {
    background-image: url(../imgs/gear_puzzle.png);
    background-position: 90% center;
    background-size: 420px 420px;
    background-repeat: no-repeat;
}

.home-project .project-link  {
    font-size: 2.2vw;
    color: $cream;
    font-weight: 600;
    margin-left: 40px;
    text-decoration: none;
}

.see-more a{
    font-size: 1.8vw;
    font-weight: 600;
    margin: 50px 0;
    text-decoration: none;
    display: block;
}

.see-more.blue, .see-more.blue svg {
    color: $primary;
    stroke: $primary;
}

.see-more.orange, .see-more.orange svg {
    color: $orange;
    stroke: $orange;
}

.see-more svg {
    width: 200px;
    transition: all .3s ease;
}

.see-more:hover svg{
    margin-left: 10px;
}

.see-more.orange:hover svg {
    stroke: $primary;
}

.see-more.blue:hover svg {
    stroke: $orange;
}

.news-link {
    text-decoration: none;
}

.home-article {
    margin: 20px 0 40px 100px;
    font-size: 1.5vw;
}

.news-author {
    font-size: 1.4vw;
    font-weight: 600;
    color: $purple;
}